.experience-card {
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
}

.experience-card .position-description {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.experience-card .position-box {
  align-self: stretch;
  border-radius: 0px 10px 0px 0px;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 0px 20px 0px 0px;
  position: relative;
  width: 100%;
}

.experience-card .position-name {
  flex: 1;
  font-family: "Google Sans Medium", Helvetica;
  font-size: 26px;
  font-weight: 400;
  line-height: 140%;
  position: relative;
}

.experience-card .location-duration {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.experience-card .text-wrapper {
  font-family: "Google Sans Regular", Helvetica;
  font-size: 16px;
  position: relative;
  width: fit-content;
}

.experience-card .company-logo {
  align-self: flex-start;
  position: relative;
  min-height: 80px;
  max-height: 120px;
  max-width: 100%;
  object-fit: contain;
  margin: 10px 0px;
}

.experience-card .company-name {
  font-family: "Google Sans Medium", Helvetica;
  font-size: 26px;
  font-weight: 400;
  margin: 10px 0px;
  position: relative;
}

.experience-card .company-description {
  align-self: stretch;
  font-family: "Google Sans Regular", Helvetica;
  font-size: 16px;
  position: relative;
  margin: 0px;
}

.experience-card .responsibilities {
  align-items: flex-start;
  align-self: stretch;
  border-style: solid;
  border-width: 2px 2px 2px 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 10px 10px 0px;
  position: relative;
}

.responsibilities .responsibilities ul {
  padding-left: 10px;
}

.responsibilities .responsibility {
  list-style: none;
  align-self: stretch;
  font-family: "Google Sans Regular", Helvetica;
  font-size: 16px;
  margin: 0px;
  position: relative;
  padding: 0 0 0 20px;
}

.responsibilities .responsibility .bullet {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

/* Settings for higher resolutions */
.experience-card {
  border-radius: 10px 20px 20px 10px;
  max-width: 1000px;
}

.experience-card .position-description {
  width: 300px;
}

.experience-card .position-box {
  align-items: center;
}

.experience-card .responsibilities {
  border-radius: 0px 20px 20px 0px;
  flex: 1;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .experience-card {
    border-radius: 10px 10px 20px 20px;
    flex-direction: column;
    width: 100%;
  }

  .experience-card .position-description {
    width: 100%;
  }

  .experience-card .position-box {
    align-items: flex-start;
  }

  .experience-card .responsibilities {
    border-radius: 0px 0px 20px 20px;
    border-width: 4px 2px 2px 2px;
    flex: 0 0 auto;
    width: 100%;
  }
}
