.experience-accord {
  width: 100%;
  max-width: 1200px;
  margin: 50px;
}

.accord-panel {
  font-family: "Google Sans Regular";
}

@media (max-width: 768px) {
  .experience-accord {
    margin: 20px;
  }
}
